/*!
 *  own  css
 */

@font-face {
  font-family: roboto;
  src: url(/assets/fonts/roboto-condensed.light.ttf);
}

@font-face {
  font-family: roboto;
  src: url(/assets/fonts/roboto-condensed.bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: roboto;
  src: url(/assets/fonts/roboto-condensed.italic.ttf);
  font-style: italic;
}


BODY {
    font-family: "roboto" !important;
    font-size: 110%;
}

.bg-black {
    background-color: #000000;
}

.big-1 {
    font-size: 120%;
}

.big-2 {
    font-size: 150%;
}

.big-3 {
    font-size: 200%;
}

.bg-lightgray {
    background-color: #eeeeee;
}

/* touch control thing */
* {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
/* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* touch control thing */
canvas {
    display:block;
    position:absolute;
/*    background-color: #00FF0005; */
    z-index: 1;
    border: 1px solid #004400;
}

/* touch control thing, TODO probably obsolete */
p#stream{
    position: relative;
    top: -15px;
}

.height-100 {
    height: 100%;
}


.vertical {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.pointer {
  cursor: pointer;
}

